<!DOCTYPE html>
<html>

<head>
    <title>Logout Success</title>
</head>

<body>
    <h1>Logout Successful</h1>
    <p>
        <%= message %>
    </p>
    <a href="/">Return to Home</a>
</body>

</html>